@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");

:root {
  --primary: #88b06a;
  --textColor: #495057;
  --fontFamily: "Montserrat", sans-serif;
  --backgroundColor: var(#f8f9fa);
}

/*************************
//    B O D Y            //
/************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--fontFamily);
  background: var(--backgroundColor);
}

.nav-logo {
  width: 90px;
  height: 90px;
}

.containter {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.fa-brands:link,
.fa-brands:visited {
  color: #c0eb75;
  font-size: 2rem;
}
.fa-brands:hover,
.fa-brands:active {
  color: #629d10;
  font-size: 2rem;
}

/*************************
//  N A V I G A T I O N  //
/************************/
nav {
  padding: 5px 20px 0 20px;
  border-bottom: 3px solid #adb5bd;
  box-shadow: 0 0 25px #ced4da;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav .nav-logo {
  width: 100;
}

nav .logo-nav {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

nav .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-right: 40px;
}

.navigation .fa-brands {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 10px;
  color: #495057;
  display: inline-block;
}

.navigation .fa-brands:hover {
  color: #629d10;
  font-size: 2rem;
}

.navigation .btn-lokation {
  background: var(--primary);
  color: #f1f3f5;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
  margin-bottom: 20px;
}

.navigation .btn-lokation:hover {
  color: #f1f3f5;
  background: #5c940d;
}

.navigation .icon {
  display: inline-block;
  color: #e9ecef;
  vertical-align: baseline;
}

/***************************
//  M A I N  S E C T I O N //
/***************************/
section {
  padding-top: 70px;
  text-align: center;
}

.main-section-text {
  margin-bottom: 50px;
}
.main-section h1 {
  font-size: 3rem;
  font-family: var(--fontFamily);
  font-weight: 900;
  color: var(--primary);
  text-transform: uppercase;
}

.main-section .quotes {
  color: var(--textColor);
  font-size: 1.3rem;
  font-weight: 500;
}

.main-section article .store-image {
  width: 80%;
}
.main-section .store-image {
  background: url(../images/semparecaffe.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 300px;
  width: 80%;
}

/***************************
 //  W O R K T I M E       //
 /**************************/
.work-time {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.work-time .location {
  align-self: flex-start;
}

.work-time .location h3 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.work-time a {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 15px 30px;
  background: #88b06a;
  color: #f1f3f5;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  transition: 0.3s linear;
  border-radius: 9px;
  text-decoration: none;
}

.work-time th,
td {
  padding: 7px 10px 10px 10px;
}

.work-time th {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-bottom: 2px solid var(--textColor);
}

.work-time table {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.work-time tr:nth-child(even) {
  background-color: #e9ecef;
}

.work-time tr:nth-child(even):hover {
  background: #adb5bd;
  color: #343a40;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.work-time tr:nth-child(odd) {
  background-color: #c0eb75;
}

.work-time tr:nth-child(odd):hover {
  background: #82c91e;
  color: #343a40;
  cursor: pointer;
  transition: 0.2s ease-in;
}

/***************************
 //  L O C A T I O N    M A P  //
 /**************************/

.mapsContainer {
  margin-top: 3%;
  background-color: var(--primary);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2rem;
  padding: 1%;
}

.address {
  width: 50%;
  height: auto;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
}

.address a {
  background-color: #f1f3f5;
  color: var(--textColor);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 9px;
}
.address a:hover {
  background-color: #5c940d;
  color: #fff;
}
.googleMap {
  width: 50%;
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
iframe {
  border-radius: 20px;
  height: 400px;
  width: 600px;
}

/***************************
 //      F O O T E R       //
 /**************************/

.footer {
  background-color: #fff;
  color: var(--primary);
  padding: 1%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.footer a {
  font-size: 1.5rem;
  color: var(--primary);
}

.footer .footer-text {
  font-weight: 400;
}

/******************************
// R E S P O N S I V N O S T //
/*****************************/
@media (min-width: 368px) and (max-width: 768px) {
  nav {
    padding: 10px;
  }

  nav .nav-logo {
    margin-bottom: 10px;
  }

  nav .navigation {
    gap: 10px;
  }

  .navigation .btn-lokation {
    font-size: 0.5rem;
    padding: 8px 12px;
    font-weight: 300;
  }

  .main-section h1 {
    font-size: 2rem;
  }

  .containter {
    width: 80%;
  }

  .main-section .store-image {
    width: 80%;
    padding: 150px;
  }

  .mapsContainer {
    display: flex;
    flex-direction: column;
  }

  .googleMap {
    width: 100%;
  }
  .googleMap iframe {
    width: 100%;
    padding: 5%;
  }
  .address {
    width: 100%;
  }
}
